.body {background-color: #2d1017
}

.divtitulo {background-color: #6B2737;
            font-family: 'Sofia', 'cursive';
            color: rgb(219, 107, 107);
            font-size: 100%;
            text-align: center;
            text-shadow: #000 0px 3px 5px
}


.h2 {color: rgb(221, 216, 139);
        font-size: 14px;
}

.parrafo1 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #ffffff;
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-shadow: #000 0px 3px 5px;
        border-width: 3px;
        border-style: solid;
        border-color: rgb(221, 216, 139);
        border-radius: 7px;
}

.parrafo1:hover {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #ffffff;
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-shadow: #000 0px 3px 3px;
        border-width: 3px;
        border-style:solid;
        border-color: rgb(221, 216, 139);
        border-radius: 7px;
        box-shadow: #ddd 0px 3px 3px;
}


.parrafo2 {border-width: 3px;
        border-style: solid;
        border-color: rgb(221, 216, 139);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 14px;
        text-shadow: #000 0px 3px 5px;
        text-align: center;
        color: white;
        border-radius: 7px;

}

.parrafo2:hover {border-width: 3px;
        border-style: solid;
        border-color: rgb(221, 216, 139);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 14px;
        text-shadow: #000 0px 3px 3px;
        text-align: center;
        color: white;
        border-radius: 7px;
        box-shadow: #ddd 0px 3px 3px;

}


.titulovinos {background-color: rgb(221, 216, 139);
        background-size: 100%;
        font-family: 'Sofia', 'cursive';
        font-size: 24px;
        color: #000;
        text-align: center; 
}

.vinos {background-color: #6B2737;
        background-size: 100%;
        font-size: 14px;
        font-family: 'Sofia', 'cursive';
        color: #ddd;
        margin-bottom: 10px;
        text-align: center;
        text-shadow: #000 0px 3px 3px;        
}

.vinos:hover {background-color: #6B2737;
        background-size: 100%;
        font-size: 14px;
        font-family: 'Sofia', 'cursive';
        color: #ddd;
        margin-bottom: 10px;
        text-align: center;
        text-shadow: #000 0px 3px 3px;        
}

.borde-nv {border-width: 1px;
        border-color: rgb(221, 216, 139);
        border-style: solid;
        border-radius: 7px;
}

.borde-nv:hover {border-width: 2px;
        border-color: rgb(221, 216, 139);
        border-style: solid;
        border-radius: 7px;
        box-shadow: #ddd 0px 3px 3px;

}


.h1contacto {background-color: rgb(221, 216, 139);
            background-size: 100%;
            font-family: 'Sofia', 'cursive';
            font-size: 24px;
            color: #000;
            text-align: center;         
}

@media (max-width: 360px) {
       .h1contacto 
       {background-color: rgb(221, 216, 139);
        background-size: 100%;
        font-family: 'Sofia', 'cursive';
        font-size: 20px;
        color: #000;
        text-align: center;         
 }
}



.h2contacto {background-color: rgb(29, 11, 41);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: #ddd;
            font-size: 16px;
            text-align: center;
}

@media (max-width: 768px) {
      .h2contacto
      {background-color: rgb(29, 11, 41);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #ddd;
        font-size: 18px;
        text-align: center;
}

@media (max-width: 768px) {
        .imgvinocontacto 
        {display:none;
        
        }
}



}

.headercontacto {background-color: #6B2737;
                background-size: 100%;
                font-size: 16px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: #ddd;
                margin-bottom: 10px;
                
}

.infocontacto {text-shadow: black 0px 3px 5px;
              text-align: center;
}


@media (max-width: 768px) {
        .infocontacto 
        {text-shadow: black 0px 3px 5px;
        text-align: start;
        font-size: 16px;

 }
}

.vinocontacto {border-width: 1px;
            border-color: rgb(241, 201, 114);
            border-style: solid;
            border-radius: 7px;
            margin-bottom: 10px;
}


.creditos {background-color: #2d1017;
        background-size: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18px;
        color: #ffffff;
        text-shadow: #000 0px 3px 5px;
        text-align: center;
}

.nosotros {background-color: #2d1017;
        background-size: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16px;
        color:#ffffff;
        text-shadow: #000 0px 3px 5px;
}


.footer {background-color: #6B2737;
    background-size: 100%;
    text-align: center;
    color:#ddd
}


.swing-top-fwd {
	animation: swing-top-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes swing-top-fwd {
        0% {
          transform: rotateX(0);
          transform-origin: top;
        }
        50% {
          transform: rotateX(180deg);
          transform-origin: top;
        }
        100%{
                transform: rotateX(0);
                transform-origin: top;    
        }
      }
      
.shadow-pop-tr {
	animation: shadow-pop-tr 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes shadow-pop-tr {
        0% {
          box-shadow: 0 0 #460909, 0 0 #460909, 0 0 #460909, 0 0 #460909, 0 0 #460909, 0 0 #460909, 0 0 #460909, 0 0 #460909;
          transform: translateX(0) translateY(0);
        }
        50% {
          box-shadow: 1px -1px #460909, 2px -2px #460909, 3px -3px #460909, 4px -4px #460909, 5px -5px #460909, 6px -6px #460909, 7px -7px #460909, 8px -8px #460909;
          transform: translateX(0px) translateY(8px);
        }
        100% {
                box-shadow: 0 0 #460909, 0 0 #460909, 0 0 #460909, 0 0 #460909, 0 0 #460909, 0 0 #460909, 0 0 #460909, 0 0 #460909;
                transform: translateX(0) translateY(0);
              }
      }
      